html {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0.5rem;
}

#container {
    /* background image properties */
    background-image: url(images/JimHenson.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    /* flex properties */
    display: flex; /* Change to block */
    flex-direction: column; /* row is the default, try column. row-reverse */
    align-items: center; /* try center, flex-start, flex-end */
    justify-content: space-between; /* try space-between, space-evenly */
    width:42rem; 
    height:40rem;  
    border: 1rem solid green;
}

#item1 {
    background-color: rgba(0, 0, 0, .4);
    align-self: self-start;
    color: azure;
    font-size: 3rem;
    margin: 1rem;
}

#item2 {
    background-color: rgba(211,211,211, 0.8);
    width: 12rem;
    text-align: center;
    outline: 0.1rem solid black;
    padding: 0rem;
    margin-top: -5rem;
}

a {
    color: brown;
    transition: font-size 0.5s;
}

a:visited {
    color: beige;
}

a:hover {
    font-size: 0.90rem;
}

footer {
    border: 0.5rem solid rgb(184, 184, 184);
    border-style: ridge;
    outline: 0.5rem solid rgb(161, 207, 228);
    margin: 0.5rem;
    background-color: red;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    padding: 1rem;
    align-self: stretch;
}