<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Remove</title>
</head>
<body>
    <h1>Removing All Applicants</h1>
    <form>
        
    </form>
    <input type="button" onclick="processRemoveAll()">
    <hr>
    <a href="/">HOME</a>
    <script>
        function processRemoveAll() {
            if ((window.confirm("Are you sure you want to remove all applications?"))) {

            }
        }
    </script>
</body>
</html>