<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin GFA</title>
</head>
<body>
    <h1>Display GFAs Greater than or Equal to</h1>
    <form action="/processAdminGFA" method="post">
        <label><b>GPA: </b><input type="text" name="gpa"></label><br><br>
        <input type="submit" value="Submit Request">
    </form>
    <hr>
    <a href="/">HOME</a>
</body>
</html>