<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Removed</title>
</head>
<body>
    <h1>Removal of All Applications</h1>
    All applications have been removed from the datbase. Number of applications removed: <%-num%>
    <br><br><br>
    <a href="/">HOME</a>
</body>
</html>