<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin GFA</title>
</head>
<body>
    <h1>Display GFAs Greater than or Equal to</h1>
    <%- gfaTable%><br>
    <a href="/">HOME</a>
</body>
</html>