html {
    font-size: 14px;
    padding: 0rem;
    margin: 0rem;
}

body {
    padding: 0rem;
    margin: 0rem;
}

h1 {
    font-size: 2.75rem;
}
h2 {
    font-size: 2rem;
}

p {
    color: brown;
    font-size: 2rem;
}

table {
    width: 10rem;

}

table, td, th {
    border: 0.01rem solid gray
}

thead {
    background-color: antiquewhite;
    color: brown;
}

#idSelector {
    text-align: left;
}

.classSelector1 {
    font-size: 1.35rem;
}

.classSelector1:first-letter {
    font-weight: bold;
    font-size: 3rem;
    /* try with em */
}

.classSelector1:hover {
    color: red;
}

.content {
    width: 59rem;
    height: 71rem;
    border: 3.5rem solid black;
    padding:0rem;
    margin: 0rem;
}

.padding {
    border: 3.5rem solid blue;
    padding:0rem;
    margin: 0rem;
}

